.appointment-model {
  width: 550px;
}

.qr-model-box img {
  width: 100px;
  height: 100px;
}

.conifrmation-model {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.Confirmation-title {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: silver;
  font-weight: 500;
  margin-bottom: 10px;
}

.Confirmation-code {
  color: #000;
  font-size: 50px;
  font-weight: 500;
}

.Calendar-btn {
  border: 1px solid #52a872;
  height: 35px;
  width: 170px;
}

.print-btn {
  border: 1px solid #52a872 !important;
  height: 35px;
  width: 120px;
}

.Confirmation-btn {
  display: flex;
  gap: 15px;
}

.summary-label {
  color: #444e55;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 15px;
  padding: 0;
}

.your-details p + p {
  margin-top: 5px;
}

@media only screen and (max-width: 1199px) {
  .appointment-section .dashbord {
    padding: 20px 15px 0px 40px !important;
  }
}

@media only screen and (max-width: 767px) {
  .appointment-section .conifrmation-model {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .appointment-section .Confirmation-code {
    padding: 10px 0 10px 0;
    text-align: center;
  }

  .appointment-section .Confirmation-title {
    text-align: center;
  }

  .qr-model-box {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }

  .qr-model-box img {
    border-radius: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .appointment-section .dashbord {
    padding: 0px 10px 0px 30px !important;
  }

  .appointment-section .conifrmation-model {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .appointment-section .appointment-model {
    width: auto;
  }

  .appointment-section .Confirmation-code {
    padding: 10px 0 10px 0;
    text-align: center;
  }

  .appointment-section .Confirmation-title {
    text-align: center;
  }

  .appointment-section .Confirmation-title {
    text-align: center;
    margin-top: 10px;
  }

  .appointment-section .qr-model-box img {
    width: 85px;
    height: 85px;
    border-radius: 5px;
  }

  .qr-model-box {
    text-align: center;
  }

  .appointment-section .service-heading {
    font-size: 19px !important;
    margin-bottom: 10px;
  }

  .appointment-section .select-time {
    margin-bottom: 0;
    flex-direction: column;
    gap: 0px !important;
  }

  .appointment-section .date-heading {
    font-size: 13px !important;
  }
}
