.card-input {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.Preferences-card-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-card {
  height: 100vh;
  position: relative;
}
