* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 0px 0px;
  border-bottom: 0.5px solid lightgray;

  .heading {

    // padding: 0 15px;
    h2 {
      font-size: 30px !important;
      font-weight: 500;
      color: #00a76f;
      padding: 15px 0px 15px 30px;
    }
  }
}

.sidebar {
  // padding-top: 30px;
  // border-right: 0.5px solid lightgray;
  // padding-right: 15px;
  // padding-left: 15px;
  // margin-left: 25px;

  .service_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    // height: calc(100vh - 100px);
    padding: 0px 30px 0px 30px;

    .userImg {
      img {
        width: 170px;
        height: 170px;
        margin: 0 auto;
        display: block;
        object-fit: cover;
        border-radius: 100%;
      }
    }

    .user_details {
      text-align: center;

      // margin: 20px 10px;
      .user_heading {
        font-size: 23px;
        font-weight: 600;
        color: #00a76f;
      }

      .userHeading_details {
        color: #637381;
      }
    }

    .questions {
      text-align: center;

      // margin: 20px 10px;
      .user_heading {
        font-size: 23px;
        font-weight: 600;
        color: #00a76f;
      }

      .userHeading_details {
        color: #637381;
      }
    }
  }
}

.dashbord {
  height: calc(100vh - 130px);
  overflow-y: auto;
  padding: 30px;

  .service_box {
    margin-top: 20px;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 4px #00000054;

    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 15px;
      border-radius: 11px;
      margin: 10px 0;
      cursor: pointer;

      .card-userDetails {
        display: flex;
        align-items: center;
        gap: 15px;

        .card-userImg {
          img {
            width: 50px;
            height: 50px;
            border-radius: 11px;
          }
        }

        .card-userName {
          h4 {
            font-size: 20px;
            font-weight: 500;
          }

          span {
            color: #7a7a7a;
          }
        }
      }

      .services {
        display: flex;
        align-items: center;
      }
    }
  }
}

.sidebar-section {
  padding: 0px !important;
}

.sidebar {
  height: 100vh;
  border-right: 1px dashed #e8ecee;
  position: relative;
  background: #fff;
  z-index: 9;
}

.progressBar-line {
  margin: 0 !important;
  padding: 30px 0 30px 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  max-width: 300px !important;
  width: 100% !important;
  margin: 0 auto !important;
}

.userImg {
  margin: 35px 0 35px 0;
}

.questions {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  gap: 5px;

  h4 {
    font-size: 23px;
    font-weight: 600;
    color: #00a76f;
  }

  span {
    color: #637381;
  }
}

.service-card {
  max-width: 100% !important;
  width: 100% !important;
}

.box {
  display: block !important;
  margin-top: 0px !important;
  padding-left: 0px !important;
}

.dashbord .navigation-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 8px 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #fff;

  .step-back-btn {
    border: 1px solid #212b36 !important;
    color: #fff !important;
    padding: 9px 22px 9px 22px !important;
    cursor: pointer !important;
    background: #212b36;
    font-size: 14px !important;
  }

  .step-back-nxt {
    color: #000 !important;
    font-size: 14px !important;
    padding: 9px 22px 9px 22px !important;
    cursor: pointer !important;
    background: #00a872 !important;
    color: #fff !important;
  }
}

.progressBar {
  background: #fff;
}

.step-back-btn-inactive {
  opacity: 0 !important;
}

.tab-title {
  display: flex;
  align-items: center;
  gap: 13px;
}

.sidebar-active {
  left: 0% !important;
  transition: 0.5s;
}

.hamburger-icon {
  display: none !important;
}

.dashbord .error-message {
  margin: 10px 5px !important;
  color: red !important;
}

@media only screen and (max-width: 1199px) {
  .grid-top {
    padding-top: 0px !important;
  }

  .hamburger-icon {
    display: block !important;
  }

  .service-section .dashbord {
    padding: 0px 10px 0px 30px !important;
  }

  .service-section .dashbord .service_box .card {
    padding: 15px;
  }

  .header .heading h2 {
    padding: 15px 0px 15px 50px !important;
  }

  .navigation-btn {
    padding: 0 30px 8px 20px !important;
  }
}

@media only screen and (max-width: 575px) {
  .dashbord .service_box {
    padding: 2px 5px 2px 5px !important;
    box-shadow: none !important;
  }

  .dashbord .service_box .card {
    gap: 15px;
  }

  .card-userName {
    text-align: initial;
  }

  .dashbord {
    padding: 10px 9px 0px 30px !important;
  }

  .dashbord .service_box {
    padding: 5px;
    box-shadow: none;
  }

  .service-section .dashbord .service_box .card .card-userDetails .card-userImg img {
    border-radius: 5px !important;
  }

  .header .heading h2 {
    font-size: 20px !important;
    padding: 15px 0px 15px 35px !important;
  }

  .navigation-btn {
    padding: 0 15px 8px 15px;
  }

  .dashbord .service_box .card .card-userDetails .card-userName h4 {
    font-size: 17px;
  }

  .service-section .dashbord .service_box {
    margin-top: 0px;
  }

  .service-section .card-userName h4 {
    font-size: 17px !important;
    font-weight: 500 !important;
  }

  .service-section .services span {
    font-size: 14px;
  }

  .service-section .navigation-btn .step-back-nxt {
    padding: 9px 7px 9px 15px !important;
  }
}