.product-service-card {
  border: 1px solid silver;
  padding: 10px;
  border-radius: 10px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.product-service-card img {
  height: 160px;
  width: 160px;
  border-radius: 90%;
  margin: 0 auto;
}

.product-card-data {
  text-align: center;
  border-top: 1px solid sliver !important;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid silver;
}

.service-provied-section {
  margin-top: 20px !important;
}

@media only screen and (max-width: 575px) {
  .service-provied-section .dashbord {
    padding: 10px 10px 0px 35px !important;
  }

  .service-provied-section .product-service-card img {
    height: 120px;
    width: 120px;
  }
}
