.Service-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.heading p {
  padding: 0 15px;
  margin: 0;
  color: #9ecbeb;
  text-transform: capitalize;
  font-weight: 500;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.service-figure {
  padding: 0 0px 0 15px;
  border-left: 1px solid lightgray;
}

.services span {
  color: #0078ce;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
}

.start-text {
  color: #7a7a7a !important;
  letter-spacing: 0px !important;
  font-weight: 100 !important;
}

.Service-section span {
  color: #0078ce;
  font-weight: 100;
}

@media only screen and (max-width: 575px) {
  .category-section .dashbord {
    padding: 0px 0px 0px 25px !important;
  }
  .category-section .dashbord .service_box {
    margin: 0 !important;
  }
}
